<!DOCTYPE html>
 <html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/master-page}">
<head>
    <title>Department List</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
 </head>
<body>
<th:block layout:fragment="content">
     <div class="row">
        <a class="btn btn-primary" href="/saveDepartment" role="button">Link</a>
      </div>
        <h1 style="color: red">Department List</h1>
       
        <table class="table">
            <thead>
                <tr>
                    <th>Department ID</th>
                    <th>Department Name</th>
                    <th>DepartMent Address</th>
                    <th>DepartMentCode</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- Iterate through the list of departments and display them -->
                <tr th:each="department : ${departments}">
                    <td th:text="${department.departmentId}"></td>
                    <td th:text="${department.departmentName}"></td>
                    <td th:text="${department.departmentAddress}"></td>
                    <td th:text="${department.departmentCode}"></td>
                    <td>
                    <!-- <a th:href="@{/showUpdaeDepartmentPage(deptId=${department.departmentId})}">
                    <button type="button" class="btn btn-outline-info btn-sm">update</button>
                    
                    </a>
                    
                    <a th:href="@{/deleteDepartmentById(deptId=${department.departmentId})}">
                    <button type="button" class="btn btn-outline-danger btn-sm">Delete</button>
                     </a>
                      <button type="button" onclick="showLivePage()" class="btn btn-outline-danger btn-sm">Testing</button>
                      -->
                     <a th:href="@{/generatePdf}">
                      <button type="button" class="btn btn-outline-danger btn-sm">Report</button>
                     </a>    
                    
                    </td>
                </tr>
            </tbody>
        </table>
     
    </th:block>
</body>
</html>

 

 

