<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>Thymeleaf Testing project</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="/path/to/your/script.js" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    
    <!-- show live data -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.2/sockjs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script> 
    
    <script src="/kanchonAllJs/customAllJs.js"></script>
    <!--bellow the jquery link-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <style>
        /* Custom CSS to make the menu bar full height with a background color */
        .full-height-menu {
            height: 100vh;
        }
    </style>
    
</head>
  
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="margin-bottom: 20px">
        <a class="navbar-brand" href="#">KANCHON</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
        </div>
        <div sec:authorize="isAuthenticated()">
                    <span style="color: white">Welcome</span>
                    <span style="color: white" sec:authentication="principal.username"></span>
                    <a href="/logout">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Logout</button>
                    </a>
                </div>
                <div sec:authorize="!isAuthenticated()">
                    <a class="btn btn-secondary my-2 my-sm-0" type="submit" href="/login">Login</a>
                </div>
    </nav>

  <div class="row">
    
    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
      
   <div class="col-md-2 bg-secondary full-height-menu">
    <div class="list-group">
        <a href="#Airport" data-bs-toggle="collapse" data-bs-target="#AirportCollapse" class="list-group-item list-group-item-action">Airport</a>
        <div id="AirportCollapse" class="collapse">
            <a href="/airports" class="list-group-item list-group-item-action">Airport Menu</a>
            <a href="/aircrafts" class="list-group-item list-group-item-action">Aircraft Menu</a>
            <a href="/flights" class="list-group-item list-group-item-action">Flight Operation Menu</a>
            <a href="/flight/book" class="list-group-item list-group-item-action">Flight Booking</a>
            <a href="#" class="list-group-item list-group-item-action">Flight Search</a>
        </div>
        
        <a href="#AirCraft" data-bs-toggle="collapse" data-bs-target="#AirCraftCollapse" class="list-group-item list-group-item-action">Aircraft</a>
        <div id="AirCraftCollapse" class="collapse">
            <a href="#" class="list-group-item list-group-item-action">Menu 1</a>
            <a href="#" class="list-group-item list-group-item-action">Extra Menu 2</a>
            <a href="#" class="list-group-item list-group-item-action">Extra Menu 3</a>
        </div>
        
        <a href="#Flight" data-bs-toggle="collapse" data-bs-target="#FlightCollapse" class="list-group-item list-group-item-action">Flight</a>
        <div id="FlightCollapse" class="collapse">
            <a href="/flight/book/verify" class="list-group-item list-group-item-action">Verify booking Flight</a>
            <a href="#" class="list-group-item list-group-item-action">Flights</a>
            <a href="#" class="list-group-item list-group-item-action">Book Flight</a>
            <a href="#" class="list-group-item list-group-item-action">Search Flight</a>
        </div>
        
        <a href="#fileupload" data-bs-toggle="collapse" data-bs-target="#FileUploadCollapse" class="list-group-item list-group-item-action">File Upload</a>
        <div id="FileUploadCollapse" class="collapse">
            <a href="/#" class="list-group-item list-group-item-action">Extra</a>
            <a href="/fileUpload" class="list-group-item list-group-item-action">File Uploads</a>
        </div>
        
        <a href="#department" data-bs-toggle="collapse" data-bs-target="#DepartmentCollapse" class="list-group-item list-group-item-action">Department</a>
        <div id="DepartmentCollapse" class="collapse">
            <a href="/departments" class="list-group-item list-group-item-action">Department Webflux</a>
            <a href="/#" class="list-group-item list-group-item-action">Testing</a>
        </div>
    </div>
</div>
     
     
     </th:block>
  
  <div class="col-md-10">
        <div class="container">
            <div layout:fragment="content">
                    
                     
                </div>
            </div>
        </div>
  </div>

   
</body>

</html>