<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master-page}">
<head>

 
<meta charset="UTF-8">
<title>File Upload</title>
</head>
<body>

	<th:block layout:fragment="content">

		<form id="uploadForm" method="post" th:action="@{/upload}"
			enctype="multipart/form-data">
			<table class="table table-hover">
				<thead>
					<tr class="table-active">
						<th scope="col">ID</th>
						<th scope="col">Airport Code</th>
						<th scope="col">Airport Name</th>
						<th scope="col">City</th>
						<th scope="col">State</th>
						<th scope="col">Country</th>
						<th scope="col">File one/Multiple</th>
					</tr>
				</thead>
				<tbody>
					<div th:each="airport, iterStat:${airports}">
						<tr style="background-color: #fdfdfd">
							<th scope="row" th:text="${airport.airportId}">Dark</th>
							<td th:text="${airport.airportCode}">
							
							</td>
							<td th:text="${airport.airportName}"></td>
							<td th:text="${airport.city}"></td>
							<td th:text="${airport.state}"></td>
							<td th:text="${airport.country}"></td>

							<td class="align-center">
								<div class="form-group">
									<span class="btn btn-xs btn-file bg-blue-grey waves-effect">
									  <!-- <input type="file" accept="*" name="files_${airport.airportId}' multiple> -->
									   <input type="file" accept="*" th:attr="name='files_' + ${airport.airportId}" multiple>
									</span> 
									<!-- <input type="text" id="image_name" name="imageNameA[]" class="form-control hidden" readonly> --> 
								   <input type="hidden" id="distId" name="distId[]" th:value="${airport.airportId}">
                                  <!-- Debugging output to verify the value -->
                                   <div th:text="${airport.airportId}"></div>
								</div>
							</td>

						</tr>
					</div>
				</tbody>

			</table>

			<div class="form-group col-12">
				<button type="button" onclick="uploadFiles()" class="btn btn-success" style="float: right">
					All Save</button>
			</div>
		</form>


        <div>
        
        <input type="button" value="test" onclick="showLivePage()"/>
        
        </div>    
      
	</th:block>

</body>
</html>
 