
<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master-page}">

<head>

</head>
<meta charset="UTF-8">
<title>Flights</title>

<body>
	<th:block layout:fragment="content">
		<div class="row" style="margin-bottom: 10px">
			<div class="col-md-6">
				<h1 style="color: darkblue">Flights List</h1>
			</div>
			<div class="col-md-6">
				<a href="/flight/new"><button type="button"
						class="btn btn-outline-primary" style="float: right">Add
						Flights</button></a>
			</div>
		</div>

		<table class="table table-sm">
			<thead>
				<tr class="table-active">
					<th scope="col">ID</th>
					<th scope="col">Flight Number</th>
					<th scope="col">From</th>
					<th scope="col">To</th>
					<th scope="col">Departure</th>
					<th scope="col">Arrival</th>
					<th scope="col">Flight Charge</th>
					<th scope="col">Aircraft</th>
					<th scope="col">Available Seats</th>
					<th scope="col"></th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<div th:each="flight, iterStat:${flights}">
					<tr style="background-color: #fdfdfd">
						<th scope="row" th:text="${flight.flightId}">Dark</th>
						<td th:text="${flight.flightNumber}"></td>
						<td th:text="${flight.departureAirport.airportName}"></td>
						<td th:text="${flight.destinationAirport.airportName}"></td>
						<td th:text="${flight.departureDate+' '+flight.departureTime}"></td>
						<td th:text="${flight.arivalDate+' '+flight.arivalTime}"></td>
						<td th:text="${flight.flightCharge}"></td>
						<td th:text="${flight.aircraft.model}"></td>
						<td
							th:text="${flight.aircraft.numberOfSeats - flight.passangers.size() +'/'+ flight.aircraft.numberOfSeats}"></td>
						<td><a th:href="@{/passengers(flightId=${flight.flightId})}">...</a></td>
						<td><a
							th:href="@{/flight/delete(flightId=${flight.flightId})}"><button
									type="button" class="btn btn-outline-danger btn-sm"
									onclick="alert('Are you sure to cancel this flight?')">Cancel</button></a></td>

						<!-- <td><a
							th:href="@{/flight/delete(flightId=${flight.flightId})}">
								<button type="button" class="btn btn-outline-danger btn-sm"
									onclick="alert('Are you sure to cancel this flight?')">
						                               			<i class="fas fa-trash"></i>
									Font Awesome trash icon
								</button>
						</a></td> -->

					</tr>
				</div>
			</tbody>
		</table>








	</th:block>




</body>



</html>


