<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/master-page}">

<body >
<th:block layout:fragment="content">
    
    <h2 style="text-align: center; font-family: Castellar;margin-top: 2%; margin-bottom: 6%">Welcome to My Thymeleaf project!</h2>
     
    
    <!-- <img src="https://cdn.pixabay.com/photo/2019/09/05/15/25/airbus-4454338_960_720.jpg" style="width: 97%"/> -->
</th:block>
</body>
</html>